@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<environment names="Development">
    <h3>Development 환경</h3>
</environment>


<environment names="Staging, Production">
    <h3>Staging, Production 환경</h3>
</environment>
