@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DotNetNote.Models.DemoModel
@{
    Layout = null;
}

<h2>모델 방식 테스트</h2>
<h3>@Model.Id</h3>
<h3>@Model.Name</h3>
