@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FormDataAnnotationsAndBinding.Models.MaximModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>TagHelper 폼 구성</title>
    <style>
        .input-validation-error {
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <h2>TagHelper 폼 구성, 유효성 검사</h2>
    
    <form asp-controller="FormValidationDemo" asp-action="TagHelperValidation" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <label asp-for="Content"></label>
        <input asp-for="Content" />
        <span asp-validation-for="Content"></span>
        <br />
        <input type="submit"  value="전송" />
    </form>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>
